body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #8cdfd6;
  color: #E99F0C;
}

header {
  background-color: #37A3BE;
  color: #FAFF00;
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.product-info {
  max-width: 500px;
  text-align: center;
  margin: 0 20px;
}

.product-image {
  margin: 20px;
  border: 7px solid black;
}

img {
  max-width: 100%;
}

footer {
  background-color: #37A3BE;
  color: #FAFF00;
  padding: 20px;
  text-align: center;
}
a{
 text-decoration: none;
 color: #9B489B;
}
a:visited{
  text-decoration: none;
  color: #9B489B;
}
a:hover{
  text-decoration: none;
  color: #9B489B;
}
ul{
  list-style: none;
}
